html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font: 13px/15px Verdana, Arial, Helvetica, sans-serif;
  background-color: #ebd5a7;
}

header {
  height: 40px;
  margin: 0;
  padding: 0;
  background: #37692D;
  color: white;
}

header h1 {
  margin: 0;
  padding: 5px;
  font-size: 20px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  text-align: center;
}

navigation {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

navigation ul {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  background: #37692D;
}

navigation ul li {
  display: inline;
  margin-right: 1em;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
}

navigation ul li a {
  text-decoration: none;
  color: #fff;
}

#content {
  height: 100%;
  padding: 0 30px;
}

footer {
  height: 20px;
  margin-bottom: 0;
  padding: 10px 20px;
  background: #37692D;
  color: white;
}

/* Actions */

.actions {
  margin-bottom: 1em;
  padding: 1rem;
}

.action {
  text-decoration: none;
  color: #000;
  border: 1px solid #000;
  padding: .5rem;
  background-color: #e3d5b8;
}

.action:hover {
  background-color: #EEE;
}

.back-link {
  text-decoration: none;
  color: #000;
  border: 1px solid #000;
  margin-top: 1rem;
  padding: .5rem;
  background-color: #e3d5b8;
}

.back-link:hover {
  background-color: #EEE;
}


/* Lists */

table {
  border-collapse: collapse;
  vertical-align: top;
}

table.list {
  width: 100%;
  margin-bottom: 1rem;
}

.list tbody {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 1rem;
}

.list tr {
  padding-bottom: 1rem;
  display: block;
  height: auto;
  width: 100%;
}

#borrow {
  border-color: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
  width: auto;
  padding: 1rem;
}

#mytools {
  display: block;
  padding-bottom: 1rem;
}

table.list tr td {
  border: 1px solid #999999;
  background-color: #e3d5b8;
  float: center;
  margin: 25px auto;
  align-content: center;
  width: 100%;
}
    
table.list tr th {
  border: 1px solid #37692D;
  background: #37692D;
  color: white;
  text-align: left;
}

.list tr td a {
  text-decoration: none;
  color: #000;
  display: flex;
  justify-content: left;
  padding: 1rem;
  height: auto;
}

.list a:hover {
  background: #EEE;
}

.list img {
  margin: 0;
  padding: 1rem;
}

#toolinfo {
  display: block;
}

#inuse {
  opacity: .5;
}

#inuse:hover {
  opacity: 1;
}
/* Forms */

dl {
  clear: both;
  overflow: hidden;
  margin: 0.5em 0;
}

dt {
  float: left;
  font-weight: bold;
  width: 125px;
}

dd {
  float: left;
  margin-left: 1em;
}

#operations {
  clear: both;
  margin: 1em 0 1em 75px;
}

/* Errors */

.errors {
  display: inline-block;
  border: 2px solid red;
  color: red;
  padding: 1em;
  margin-bottom: 1em;
}

.errors ul {
  margin-bottom: 0;
  padding-left: 1em;
}

/* Session Messages */

#message {
  color: #0B61A5;
  background: white;
  border: 2px solid #0B61A5;
  padding: 1em 15px;
  margin: 1em 30px;
  width: 890px;
}

@media only screen and (max-width: 1000px) {
  .list tbody {
  grid-template-columns: auto auto;
}

@media only screen and (max-width: 740px) {
  .list tbody {
  grid-template-columns: auto;
}

@media only screen and (max-width: 450px) {
  .list tbody {
    display: block;
}

  .list tr {
    display: flex;
    flex-direction: column;
  }

  table.list tr td {
    margin: auto;
  }

  navigation ul li {
    display: block;
    border: 2px solid #000;
    margin: 0;
    padding: .5rem;
  }
}
